{% extends nglayouts_admin.pageLayoutTemplate %}

{% trans_default_domain 'nglayouts_admin' %}

{% import '@NetgenLayoutsAdmin/admin/macros.html.twig' as macros %}

{% block title %}
    {{ 'components.title'|trans }} - {{ 'pagelayout.title'|trans }}
{% endblock %}

{% block content %}
    <div id="components">
        <div class="layouts-header">
            <h2 class="layouts-title">{{ 'components.title'|trans }}</h2>
        </div>

        <div class="nl-components-head">
            <form method="get">
                <div class="filter">
                    {{ form_row(filter_form.contentType, {placeholder: 'components.filter_form.content_type.placeholder'}) }}
                    {{ form_row(filter_form.showOnlyUnused) }}
                </div>

                <div class="sort">
                    {{ form_row(filter_form.sortType) }}
                    {{ form_row(filter_form.sortDirection) }}
                </div>

                {{ form_rest(filter_form) }}

                <button type="submit">{{ 'components.filter_form.button.submit'|trans }}</button>
            </form>
        </div>

        <div class="nl-components">
            {% if components|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'components.component.name'|trans }}</th>
                            <th>{{ 'components.component.content_type'|trans }}</th>
                            <th>{{ 'components.component.last_modified'|trans }}</th>
                            <th>{{ 'components.component.usage_count'|trans }}</th>
                            <th>{{ 'components.component.used_in'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for component in components %}
                            {% set has_layouts = component_layouts[component.content.id] is defined %}

                            <tr>
                                <td>
                                    <a href="{{ ibexa_path(component) }}" target="_blank">{{ component.content.name }}</a>
                                </td>
                                <td>
                                    {{ component.content.contentType.name }}
                                </td>
                                <td>
                                    {{ component.content.contentInfo.modificationDate|nglayouts_format_datetime }}
                                </td>
                                <td>
                                    {{ component_layouts[component.content.id].count|default(0) }}
                                </td>
                                <td>
                                    {% if has_layouts %}
                                        {% for layout_data in component_layouts[component.content.id]['layouts'] %}
                                            <p>
                                                <a href="{{ macros.layout_path(layout_data.uuid) }}" class="js-open-ngl" target="_blank">{{ layout_data.name }}</a><br>
                                                {{ layout_data.view_types|map(v => v|humanize)|join(', ') }}
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        {{ 'components.not_used'|trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="nl-no-items">{{ 'components.no_components'|trans }}</p>
            {% endif %}

            {% if components.haveToPaginate() %}
                <div class="paging">
                    {{ pagerfanta(components) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
